#nombredeid {
    color: #0f340b;
}

.nom {
    color: rgb(45, 95, 44);
}

.text {
 border-style: groove;
}

.border {
border-style: groove; border-color: #0f340b; border-radius: 10cm;
}

body {
    background-color: rgb(209, 209, 161);
}

.texto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

